.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.clickables {
  cursor: pointer;
}

button {
  margin-right: 5px;
}

.author {
  position: absolute;
  bottom: 2%;
}

.card-margin-bottom {
  margin-bottom: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.post-cards {
  min-height: 225px;
}

.post-buttons {
  position: absolute;
  bottom: 8%;
  right: 3%;
}

.edit-post-container {
  display: none;
}